<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{$.today}}</title>
</head>
<body>
<h4>跨所状态值表</h4>
<table border="1" cellspacing="0">
    <th>所</th>
    <th>对</th>
    <th colspan="2">限价</th>
    <th colspan="2">限量</th>
    <th>所</th>
    <th>对</th>
    <th colspan="2">限价</th>
    <th colspan="2">限量</th>
    <th colspan="2">实际</th>
    {{range $i, $value := $.cross}}
        <tr>
            {{$valid := index $value 14}}
            {{if eq $valid "true"}}
                <td bgcolor="#00FF00">{{index $value 0}}</td>
                <td bgcolor="#00FF00">{{index $value 1}}</td>
                <td bgcolor="#00FF00">{{index $value 2}}</td>
                <td bgcolor="#00FF00">{{index $value 3}}</td>
                <td bgcolor="#00FF00">{{index $value 4}}</td>
                <td bgcolor="#00FF00">{{index $value 5}}</td>
                <td bgcolor="#00FF00">{{index $value 6}}</td>
                <td bgcolor="#00FF00">{{index $value 7}}</td>
                <td bgcolor="#00FF00">{{index $value 8}}</td>
                <td bgcolor="#00FF00">{{index $value 9}}</td>
                <td bgcolor="#00FF00">{{index $value 10}}</td>
                <td bgcolor="#00FF00">{{index $value 11}}</td>
                <td bgcolor="#00FF00">{{index $value 12}}</td>
                <td bgcolor="#00FF00">{{index $value 13}}</td>
                <td bgcolor="#00FF00">{{index $value 14}}</td>
            {{else}}
                <td>{{index $value 0}}</td>
                <td>{{index $value 1}}</td>
                <td>{{index $value 2}}</td>
                <td>{{index $value 3}}</td>
                <td>{{index $value 4}}</td>
                <td>{{index $value 5}}</td>
                <td>{{index $value 6}}</td>
                <td>{{index $value 7}}</td>
                <td>{{index $value 8}}</td>
                <td>{{index $value 9}}</td>
                <td>{{index $value 10}}</td>
                <td>{{index $value 11}}</td>
                <td>{{index $value 12}}</td>
                <td>{{index $value 13}}</td>
                <td>{{index $value 14}}</td>
            {{end}}
        </tr>
    {{end}}
</table>
</body>
</html>
{{/*{{$.metrics}}*/}}
{{/*<table>*/}}
{{/*    <tr>*/}}
{{/*        <th>symbol</th>*/}}
{{/*        <th>方向</th>*/}}
{{/*        <th>次数</th>*/}}
{{/*        <th>金额</th>*/}}
{{/*        <th>价格</th>*/}}
{{/*    </tr>*/}}
{{/*    {{range $time := $.orderTimes}}*/}}
{{/*        <td>{{$time}}</td>*/}}
{{/*        {{$day := index $.orders $time}}*/}}
{{/*        {{range $symbol, $symbolData := $day}}*/}}
{{/*            {{range $side, $sideData := $symbolData}}*/}}
{{/*                <tr>*/}}
{{/*                    <td>{{$symbol}}</td>*/}}
{{/*                    <td>{{$side}}</td>*/}}
{{/*                    <td>{{index $sideData 0}}</td>*/}}
{{/*                    <td>{{index $sideData 1}}</td>*/}}
{{/*                    <td>{{index $sideData 2}}</td>*/}}
{{/*                </tr>*/}}
{{/*            {{end}}{{end}}{{end}}*/}}
{{/*</table>*/}}
{{/*<h4>{{.today}}账户持有(折合USDT)</h4>*/}}
{{/*<table>*/}}
{{/*    <tr>*/}}
{{/*        <th>市场</th>*/}}
{{/*        <th>币种</th>*/}}
{{/*        <th>价格</th>*/}}
{{/*        <th>可用</th>*/}}
{{/*        <th>冻结</th>*/}}
{{/*        <th>占比</th>*/}}
{{/*    </tr>*/}}
{{/*    {{range $time := $.times}}*/}}
{{/*        {{$balance := index $.balances $time}}*/}}
{{/*        {{$inAll := index $.inAlls $time}}*/}}
{{/*        <td colspan="3">{{$time}}</td>*/}}
{{/*        <td colspan="3">{{$inAll}}</td>*/}}
{{/*        {{range $marketName, $marketBalance := $balance}}*/}}
{{/*            {{range $currency, $money := $marketBalance}}*/}}
{{/*                <tr>*/}}
{{/*                    <td>{{$marketName}}</td>*/}}
{{/*                    <td>{{$currency}}</td>*/}}
{{/*                    <td>{{index $money 2}}</td>*/}}
{{/*                    <td>{{index $money 0}}</td>*/}}
{{/*                    <td>{{index $money 1}}</td>*/}}
{{/*                    <td>{{index $money 3}}%</td>*/}}
{{/*                </tr>*/}}
{{/*            {{end}}{{end}}{{end}}*/}}
{{/*</table>*/}}

{{/*<h3>最近一次交易:<br/>*/}}
{{/*    {{range $market, $updateAt :=$.lastUpdates}}*/}}
{{/*        {{$market}}:{{$updateAt}}<br/>*/}}
{{/*    {{end}}*/}}
{{/*</h3>*/}}
{{/*<h4>搬砖利差(单位：USDT，已按万分之七点五扣除了手续费)</h4>*/}}
{{/*<table>*/}}
{{/*    <tr>*/}}
{{/*        <th></th>*/}}
{{/*        {{range $symbol :=$.symbols}}*/}}
{{/*            <th>{{$symbol}} 万{{index $.symbolMargin $symbol}}<br/>{{index $.symbolLastTrade $symbol}}</th>*/}}
{{/*        {{end}}*/}}
{{/*        <th>可搬量</th>*/}}
{{/*        <th>利润</th>*/}}
{{/*        <th>资产</th>*/}}
{{/*    </tr>*/}}
{{/*    {{range $date := $.dates}}*/}}
{{/*        <tr>*/}}
{{/*            <td>{{$date}}</td>*/}}
{{/*            {{range $symbol :=$.symbols}}*/}}
{{/*                <td>all:{{index $.amounts $date $symbol}} margin:{{index $.margins $date $symbol}}<br/>*/}}
{{/*                    bid:{{index $.bidAmounts $date $symbol}} ask:{{index $.askAmounts $date $symbol}}<br/>*/}}
{{/*                    amountRate:{{index $.amountMarginRate $date $symbol}}%*/}}
{{/*                </td>*/}}
{{/*            {{end}}*/}}
{{/*            <td>all:{{index $.dateAmount $date}} get:{{index $.dateDealAmount $date}}%<br/>*/}}
{{/*                bid:{{index $.dateBidAmount $date}} ask:{{index $.dateAskAmount $date}}<br/>*/}}
{{/*            </td>*/}}
{{/*            <td>all:{{index $.dateMarginAmount $date}}<br/>*/}}
{{/*                get:{{index $.dateMargin $date}}<br/>*/}}
{{/*                dealRate:{{index $.dealMarginRate $date}}%*/}}
{{/*            </td>*/}}
{{/*            <td>USDT {{index $.historyBalanceInUsdt $date}}<br/>*/}}
{{/*                BTC {{index $.historyBalanceInBtc $date}}<br/>*/}}
{{/*                OKDK {{index $.historyOkdk $date}} BNB {{index $.historyBnb $date}}*/}}
{{/*            </td>*/}}
{{/*        </tr>*/}}
{{/*    {{end}}*/}}
{{/*    <tr>*/}}
{{/*        <td>历史总可搬利润</td>*/}}
{{/*        {{range $symbol :=$.symbols}}*/}}
{{/*            <td>{{index $.symbolAmount $symbol}}</td>*/}}
{{/*        {{end}}*/}}
{{/*    </tr>*/}}
{{/*    <tr>*/}}
{{/*        <td>历史平均达成率</td>*/}}
{{/*        {{range $symbol :=$.symbols}}*/}}
{{/*            <td>{{index $.symbolDealAmount $symbol}}%</td>*/}}
{{/*        {{end}}*/}}
{{/*    </tr>*/}}
{{/*</table>*/}}
{{/*<h4>资产历史比例</h4>*/}}
{{/*<table>*/}}
{{/*    <tr>*/}}
{{/*        <th>日期</th>*/}}
{{/*        {{range $currency := $.currencies}}*/}}
{{/*            <th>{{$currency}}</th>*/}}
{{/*        {{end}}*/}}
{{/*    </tr>*/}}
{{/*    {{range $date := $.dates}}*/}}
{{/*        <tr>*/}}
{{/*            <td>{{$date}}</td>*/}}
{{/*            {{range $currency := $.currencies}}*/}}
{{/*                {{$percentage := index $.currencyPercentage $date $currency}}*/}}
{{/*                <td>{{$percentage}} price:{{index $.historyPriceInUsdt $date $currency}}*/}}
{{/*                </td>*/}}
{{/*            {{end}}*/}}
{{/*        </tr>*/}}
{{/*    {{end}}*/}}
{{/*</table>*/}}
{{/*<h4>主要币种行情</h4>*/}}
{{/*<table>*/}}
{{/*    {{range $currency, $price := $.prices}}*/}}
{{/*        <tr>*/}}
{{/*            <td>{{$currency}}</td>*/}}
{{/*            <td>{{$price}}</td>*/}}
{{/*        </tr>*/}}
{{/*    {{end}}*/}}
{{/*</table>*/}}