<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{$.today}}</title>
</head>
<body>
<h4>市场价值表</h4>
<table border="1" cellspacing="0">
    <tr>
        <th>市场</th>
        <th>现货权益</th>
        <th>期货权益</th>
        <th>现货持仓</th>
        <th>现货借币</th>
        <th>期货持仓</th>
        <th>可用保证金</th>
    </tr>
    {{range $i, $value := $.marketValue}}
        <tr>
            <td>{{index $value 0}}</td>
            <td>{{index $value 1}}</td>
            <td>{{index $value 2}}</td>
            <td>{{index $value 3}}</td>
            <td>{{index $value 4}}</td>
            <td>{{index $value 5}}</td>
            <td>{{index $value 6}}</td>
        </tr>
    {{end}}
</table>
<h4>交易概览表</h4>
<table border="1" cellspacing="0">
    <th>市场</th>
    <th>日期</th>
    <th>方向</th>
    <th>交易额/USD</th>
    <th>类型</th>
    <th>单数</th>
    <th>找平率</th>
    {{range $i, $value := $.trade}}
        <tr>
            <td>{{index $value 0}}</td>
            <td>{{index $value 1}}</td>
            <td>{{index $value 2}}</td>
            <td>{{index $value 3}}</td>
            <td>{{index $value 4}}</td>
            <td>{{index $value 5}}</td>
            <td>{{index $value 6}}%</td>
        </tr>
    {{end}}
</table>
<h4>近期失败下单</h4>
<table border="1" cellspacing="0">
    <th>id</th>
    <th>市场</th>
    <th>symbol</th>
    <th>时间</th>
    <th>方向</th>
    <th>价格</th>
    <th>数量</th>
    <th>金额</th>
    <th>类型</th>
    <th>err code</th>
    {{range $i, $value := $.orders}}
        <tr>
            {{$orderSide := index $value 4}}
            {{$refreshType := index $value 8}}
            {{if eq $refreshType "cross"}}
                {{if eq $orderSide "buy"}}
                    <td bgcolor="#00FF00">{{index $value 0}}</td>
                    <td bgcolor="#00FF00">{{index $value 1}}</td>
                    <td bgcolor="#00FF00">{{index $value 2}}</td>
                    <td bgcolor="#00FF00">{{index $value 3}}</td>
                    <td bgcolor="#00FF00">{{index $value 4}}</td>
                    <td bgcolor="#00FF00">{{index $value 5}}</td>
                    <td bgcolor="#00FF00">{{index $value 6}}</td>
                    <td bgcolor="#00FF00">{{index $value 7}}</td>
                    <td bgcolor="#00FF00">{{index $value 8}}</td>
                    <td bgcolor="#00FF00">{{index $value 9}}</td>
                {{else}}
                    <td>{{index $value 0}}</td>
                    <td>{{index $value 1}}</td>
                    <td>{{index $value 2}}</td>
                    <td>{{index $value 3}}</td>
                    <td>{{index $value 4}}</td>
                    <td>{{index $value 5}}</td>
                    <td>{{index $value 6}}</td>
                    <td>{{index $value 7}}</td>
                    <td>{{index $value 8}}</td>
                    <td>{{index $value 9}}</td>
                {{end}}
            {{else}}
                <td bgcolor="#FF0000">{{index $value 0}}</td>
                <td bgcolor="#FF0000">{{index $value 1}}</td>
                <td bgcolor="#FF0000">{{index $value 2}}</td>
                <td bgcolor="#FF0000">{{index $value 3}}</td>
                <td bgcolor="#FF0000">{{index $value 4}}</td>
                <td bgcolor="#FF0000">{{index $value 5}}</td>
                <td bgcolor="#FF0000">{{index $value 6}}</td>
                <td bgcolor="#FF0000">{{index $value 7}}</td>
                <td bgcolor="#FF0000">{{index $value 8}}</td>
                <td bgcolor="#FF0000">{{index $value 9}}</td>
            {{end}}
        </tr>
    {{end}}
</table>
<h4>持仓表</h4>
<table border="1" cellspacing="0">
    <th>market</th>
    <th>币种</th>
    <th>symbol</th>
    <th>数量</th>
    <th>价值U</th>
    <th>总值U</th>
    <th>valid</th>
    <th>price</th>
    <th>{{$.fundingFee}}</th>
    <th>信息</th>
    <th>curStep</th>
    <th>MoneyCurStep</th>
    <th>MoneyPerStep</th>
    {{range $i, $value := $.holdings}}
        <tr>
            {{$valid := index $value 5}}
            {{if eq $valid "false"}}
                <td bgcolor="#00FF00">{{index $value 0}}</td>
                <td bgcolor="#00FF00">{{index $value 1}}</td>
                <td bgcolor="#00FF00">{{index $value 2}}</td>
                <td bgcolor="#00FF00">{{index $value 3}}</td>
                <td bgcolor="#00FF00">{{index $value 4}}</td>
                <td bgcolor="#00FF00">{{index $value 7}}</td>
                <td bgcolor="#00FF00">{{index $value 5}}</td>
                <td bgcolor="#00FF00">{{index $value 8}}</td>
                <td bgcolor="#00FF00">{{index $value 12}}</td>
                <td bgcolor="#00FF00">{{index $value 6}}</td>
                <td bgcolor="#00FF00">{{index $value 9}}</td>
                <td bgcolor="#00FF00">{{index $value 10}}</td>
                <td bgcolor="#00FF00">{{index $value 11}}</td>
            {{else if eq $valid "extra"}}
                <td bgcolor="#FF0000">{{index $value 0}}</td>
                <td bgcolor="#FF0000">{{index $value 1}}</td>
                <td bgcolor="#FF0000">{{index $value 2}}</td>
                <td bgcolor="#FF0000">{{index $value 3}}</td>
                <td bgcolor="#FF0000">{{index $value 4}}</td>
                <td bgcolor="#FF0000">{{index $value 7}}</td>
                <td bgcolor="#FF0000">{{index $value 5}}</td>
                <td bgcolor="#FF0000">{{index $value 8}}</td>
                <td bgcolor="#FF0000">{{index $value 12}}</td>
                <td bgcolor="#FF0000">{{index $value 6}}</td>
                <td bgcolor="#FF0000">{{index $value 9}}</td>
                <td bgcolor="#FF0000">{{index $value 10}}</td>
                <td bgcolor="#FF0000">{{index $value 11}}</td>
            {{else if eq $valid "removed"}}
                <td bgcolor="#0000FF">{{index $value 0}}</td>
                <td bgcolor="#0000FF">{{index $value 1}}</td>
                <td bgcolor="#0000FF">{{index $value 2}}</td>
                <td bgcolor="#0000FF">{{index $value 3}}</td>
                <td bgcolor="#0000FF">{{index $value 4}}</td>
                <td bgcolor="#0000FF">{{index $value 7}}</td>
                <td bgcolor="#0000FF">{{index $value 5}}</td>
                <td bgcolor="#0000FF">{{index $value 8}}</td>
                <td bgcolor="#0000FF">{{index $value 12}}</td>
                <td bgcolor="#0000FF">{{index $value 6}}</td>
                <td bgcolor="#0000FF">{{index $value 9}}</td>
                <td bgcolor="#0000FF">{{index $value 10}}</td>
                <td bgcolor="#0000FF">{{index $value 11}}</td>
            {{else}}
                <td>{{index $value 0}}</td>
                <td>{{index $value 1}}</td>
                <td>{{index $value 2}}</td>
                <td>{{index $value 3}}</td>
                <td>{{index $value 4}}</td>
                <td>{{index $value 7}}</td>
                <td>{{index $value 5}}</td>
                <td>{{index $value 8}}</td>
                <td>{{index $value 12}}</td>
                <td>{{index $value 6}}</td>
                <td>{{index $value 9}}</td>
                <td>{{index $value 10}}</td>
                <td>{{index $value 11}}</td>
            {{end}}
        </tr>
    {{end}}
</table>
<h4>币种交易表</h4>
<table border="1" cellspacing="0">
    <th>coin</th>
    <th>side</th>
    <th>均价</th>
    <th>总量</th>
    <th>价值</th>
    <th>开量</th>
    <th>开价</th>
    <th>开值</th>
    <th>关量</th>
    <th>关价</th>
    <th>关值</th>
    <th>换量</th>
    <th>换价</th>
    <th>换值</th>
    {{range $i, $value := $.coins}}
        <tr>
            <td>{{index $value 0}}</td>
            <td>{{index $value 1}}</td>
            <td>{{index $value 2}}</td>
            <td>{{index $value 3}}</td>
            <td>{{index $value 4}}</td>
            <td>{{index $value 5}}</td>
            <td>{{index $value 6}}</td>
            <td>{{index $value 7}}</td>
            <td>{{index $value 8}}</td>
            <td>{{index $value 9}}</td>
            <td>{{index $value 10}}</td>
            <td>{{index $value 11}}</td>
            <td>{{index $value 12}}</td>
            <td>{{index $value 13}}</td>
        </tr>
    {{end}}
</table>
</body>
</html>