<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{$.today}}</title>
</head>
<body>
<h4>历史Tick表</h4>
<table border="1" cellspacing="0">
    <th>key</th>
    <th>有效/总数</th>
    <th>间隔</th>
    <th>延迟</th>
    <th>价格</th>
    {{range $i, $value := $.tickInfo}}
        <tr>
            <td>{{index $value 0}}</td>
            <td>{{index $value 1}}</td>
            <td>{{index $value 2}}</td>
            <td>{{index $value 3}}</td>
            <td>{{index $value 4}}</td>
        </tr>
    {{end}}
</table>
</body>
</html>